$primary: red;
$secondary: blue;
$tertiary: green;
$quarternary: yellow;
$quinternary: purple;

$black: black;
$white: rgb(236, 243, 245);
$dustyLight: rgba(34, 33, 33, 0.4);
$dustyDark: rgb(34, 33, 33);

// fonts

// mixins
@mixin wrapper($width, $max) {
  width: $width;
  max-width: $max;
  margin: 0 auto;
}

@mixin flex($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

@mixin font($family, $size, $color, $line-height) {
  font-family: $family;
  font-size: $size;
  color: $color;
  line-height: $line-height;
}
